/* rentals.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 10px;
}

.rental-form {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #164a8e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0f86ad;
}

.rentals-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rentals-table th,
.rentals-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.rentals-table th {
    background-color: #f2f2f2;
    color: #333;
}

.update-form {
    display: none; /* Initially hide update forms */
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-form .form-group {
    margin-bottom: 10px;
}



/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.25em;
    }

    .submit-button,
    .delete-button,
    .toggle-update-button {
        width: 100%;
        margin-bottom: 10px;
    }
}
